html {
  font-size:  16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--grey);
}

h3 {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:-webkit-any-link {
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
}

:root {
  /* colors */
  --black: #000;
  --grey: #282c34;
  --light-grey: #c8c8c8;
  --dark-grey: #20232a;
  --white: #fff;
  --blue: #61dafb;

  /* transition */
  --default-tr-time: 0.35s;
}
