.repo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  background: var(--dark-grey);
  position: relative;
  height: 60px;
  padding: 5px 5px 5px 10px;
  box-sizing: border-box;
  margin: 10px;
  border: 1px solid;
  border-radius: 3px;
}

.repo-lang {
  position: absolute;
  bottom: 5px;
  font-size: 0.9rem;
}

.repo-lang:hover {
  cursor: default;
}